:root {
  --main-color: #540863;
  --main-hover-color: #3d0548;
  --pink: #92487A;
  --dark-pink: #702f5b;
  --navy: #290431;
  --black: #1F2937;
  --dark-grey:  #6B7280;
  --grey: #E5E7EB;
  --light-blue: #F7F9FC;
  --black100: #1E1E1E;
  --grey100: #D9D9D9;
  --dark-red: #B91C1C;
  --green: #16A34A;

  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --fs-xxs: 12px;
  --fs-xs: 13px;
  --fs-s: 14px;
  --fs-base: 16px;
  --fs-l: 18px;
  --fs-xl: 20px;
  --fs-xxl: 24px;

  --app-width: 1200px;
  --border-radius: 8px;

}
.gap-2-5 {
  row-gap: 12px;
  column-gap: 12px;
}
.g-between {
  --bs-gutter-x: 16px;
  --bs-gutter-y: 16px;
}

html, body {
  font-family: var(--font-inter);
  font-size: var(--fs-base);
  color: var(--black);
  background: var(--light-blue);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}
