.outro-component {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 295px;
  background-color: var(--pink);
}

.outro-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 0.2;
  object-fit: cover;
  object-position: 78% 74%;
}

.outro-text {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 32px;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .outro-text {
    font-size: 24px;
  }
}
