.promo-banner {
  background: var(--main-color);
  border-radius: var(--border-radius);
  height: auto;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 1rem;
  padding: 1.5rem;
}

.promo-text {
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

@media (max-width: 576px) {
  .promo-banner {
    flex-direction: column;
    gap: 1rem;
  }

  .promo-text {
    text-align: center;
    font-size: 18px;
  }
}
