.SectionCard {
  height: 72px;
  display: flex;
  justify-content: center;
}

.filters.row {
  --bs-gutter-x: 20px !important;
}

.label {
  font-size: var(--fs-s);
  color: var(--dark-grey);
  white-space: nowrap;
}

.car-select {
  width: 160px;
  font-size: var(--fs-s);
  color: var(--navy);
  border-radius: 8px;
  border: 1px solid var(--grey);
  height: 36px;
  padding: 0 12px;
}

.car-select:focus {
  box-shadow: none;
  border-color: var(--grey);
}

.range-group {
  border-radius: 8px;
}

.input {
  height: 36px;
  width: 81px;
  padding: 0 10px;
  border: 1px solid var(--grey);
  border-radius: 8px;
  background-clip: padding-box;
  font-size: var(--fs-s);
  color: var(--navy);
  transition: border-color 120ms ease;
}

.input:focus {
  outline: none;
  box-shadow: none;
}

input::placeholder {
  color: var(--navy);
}

.dash {
  color: var(--dark-grey);
  padding: 0 2px;
  font-size: var(--fs-s);
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 1000px) {
  .SectionCard {
    height: auto;
    padding: 16px;
  }

  .filters-form {
    flex-direction: column;
    align-items: stretch !important;
  }

  .filters {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .btn-wrap {
    width: 100%;
  }
}
