.transition-surface {
  transition: background-color 200ms ease, border-color 200ms ease, box-shadow 200ms ease;
}

.focus-shadow-none:focus {
  box-shadow: none;
}

.is-open {
  border: 1px solid var(--dark-grey);
  background-color: #fff;
}

.is-closed {
  border: 1px solid var(--grey100);
  background-color: var(--grey);
}


